* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Prata, serif;
  color: #fff;
  background-color: #000;
}

.container {
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}

.title {
  font-size: 40px;
  line-height: 2.5;
}

@media (max-width: 480px) {
  .title {
    font-size: 34px;
  }
}

.lang-switcher {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

@media (max-width: 400px) {
  .lang-switcher {
    font-size: 16px;
  }
}

.en,
.ru {
  color: #808080;
  transition: 0.3s;
  cursor: pointer;
}

.en:hover,
.ru:hover {
  color: #fff;
}

.active {
  text-decoration: underline;
  color: #fff;
}

.chuck-photo {
  margin-right: 15%;
  margin-left: 15%;
  padding: 5px;
  border: 2px solid #fff;
}

.chuck-img {
  display: block;
  width: 100%;
}

.chuck-meme-title {
  font-size: 48px;
  line-height: 2.5;
  text-transform: uppercase;
}

@media (max-width: 605px) {
  .chuck-meme-title {
    font-size: calc(100vw * (48 / 640));
  }
}

.quote {
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 1.4;
}

@media (max-width: 480px) {
  .quote {
    font-size: 20px;
  }
}

.next-button {
  margin-bottom: 30px;
  padding: 5px 10px;
  font-family: inherit;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.next-button:hover {
  color: #ffffff;
  background-color: #000;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-top: 1px solid #fff;
}

@media (max-width: 480px) {
  .footer__container {
    padding: 5px 10px;
  }
}

.footer__copyright {
  display: flex;
  line-height: 2.5;
  gap: 20px;
}

.rsschool__img {
  height: 30px;
  transition: 0.3s;
  fill: #fff;
}

.rsschool__img:hover {
  fill: #808080;
}

a {
  color: #fff;
  transition: 0.3s;
}

a:hover {
  color: #808080;
}